### Search specific text in a string

In [8]:
# 1
import re

st = 'I love you 3000, Ironman'

txt = re.search('^I.*Ironman',st)

if txt:
    print('Matched')
else:
    print('Not matched')

Matched

Here ^I means text has to start with I, then .* matches any text between I and Ironman. Finally text has to finish with Ironman

In [9]:
# 2

st = 'The is the age of ai. Where we are seeing ai applications like chatgpt,bard,dalle etc. ai'

txt = re.findall('ai',st)

print(txt)

['ai', 'ai', 'ai']

In [12]:
# 3

st = 'Mahbub is 25 and Sakib 53 and ifty is 42 and Nurul is 13 and Shanto is 33242'

ages = re.findall(r'\d{1,3}',st)
print(ages)

['25', '53', '42', '13', '332', '42']

Here,

r means raw format

\d means digits

{1,3} means minimum 1 and maximum 3. So , we can see that when the regex found 33242 it has devided it into 3 and 2 numbers as the max capacity has been given 3 that is why.

In [13]:
names = re.findall(r'[A-Z][a-z]*',st)

names

['Mahbub', 'Sakib', 'Nurul', 'Shanto']

Here, We are seleting all the substrings where the strings start with a capital letter and the second letter is smaller and the rest of the letter.


So for Capital letter [A-Z]

For small letter [a-z]

for other letters *

In [15]:
#4
st = 'The rain in dhaka city'

arr = re.split('\s',st)

arr

['The', 'rain', 'in', 'dhaka', 'city']

Here \s means space

In [16]:
st = 'twenty two : 22 thirty three : 33'

arr = re.split('\d+',st)

arr

['twenty two : ', ' thirty three : ', '']

\d+ means one or more digit between [0-9]

In [18]:
st = '099-4949-224-33'

arr = re.sub("\D","",st)

arr

'099494922433'

\D will match any non digit characters. Here non digit characters are '-', so the sub function replacing them with "" where non digit char found

In [19]:
st = '099-4949-224-33 # this is a comment'

arr = re.sub(r'#.*$',"",st)

arr

'099-4949-224-33 '

Here we are deleting the whole comment
(#)-> starting with

. -> any character

(*) -> continue

$ -> till end of line

In [23]:
st = 'Aam, Bam, Cam, Dam, Mam, Jam, Zam'

arr = re.findall('[A-D]am',st)

arr

['Aam', 'Bam', 'Cam', 'Dam']

It is finding pattern where first letter can only be from A-D , second and third letter is a and m