12)

    1          1
    12        21
    12       321
    1234    4321
    12345  54321
    123456654321

In [17]:
n=9
total = n*2
x=[x for x in range(1,n+1)]
space = total-2

for i in range(1,n+1):
    for j in x[:i]:
        print(j,end='')
    for j in range(space):
        print(' ',end='')
        
    for j in x[:i][::-1]:
        print(j,end='')
    
    space-=2
    print()

1                1
12              21
123            321
1234          4321
12345        54321
123456      654321
1234567    7654321
12345678  87654321
123456789987654321

13)

    1
    2  3
    4  5  6
    7  8  9  10
    11  12  13  14  15
    16  17  18  19  20  21

In [3]:
n=6
x=1
for i in range(1,n+1):
    for j in range(i):
        print(x,end=' ')
        x+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

14)

    A
    A B
    A B C
    A B C D
    A B C D E
    A B C D E F

In [6]:
n=6
x='A'

for i in range(n+1):
    for j in range(i):
        print(x,end=' ')
        x = chr(ord(x) + 1)
    x='A'
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F

15)

    A B C D E F
    A B C D E 
    A B C D
    A B C
    A B
    A

In [7]:
for i in range(n+1):
    for j in range(n-i):
        print(x,end=' ')
        x = chr(ord(x) + 1)
    x='A'
    print()

A B C D E F
A B C D E
A B C D
A B C
A B
A

16)


    A 
    B B
    C C C
    D D D D
    E E E E E
    F F F F F F

In [11]:
n=6
x='A'
for i in range(n):
    for j in range(i+1):
        print(x,end=' ')
    x = chr(ord(x) + 1)
    print()

A
B B
C C C
D D D D
E E E E E
F F F F F F

17)

         A     
        ABA    
       ABCBA   
      ABCDCBA  
     ABCDEDCBA 
    ABCDEFEDCBA

In [65]:
import math
n=6
x=1
c='A'
for i in range(n):
    for j in range(n-i):
        print(' ',end='' )
    mid = math.ceil(x/2)
    for k in range(mid):
        print(c,end='')
        c=chr(ord(c) + 1)
        
    c=chr(ord(c) - 1)
    for k in range(mid,x):
        c=chr(ord(c) - 1)
        print(c,end='')
        
    for j in range(n-i):
        print(' ',end='')
    print()
    c='A'
    x+=2

      A
     ABA
    ABCBA
   ABCDCBA
  ABCDEDCBA
 ABCDEFEDCBA

18)

    F
    E F
    D E F
    C D E F
    B C D E F
    A B C D E F

In [57]:
n=6
x='F'
y='F'
for i in range(1,n+1):
    for j in range(i):
        print(x,end=' ')
        x = chr(ord(x) + 1)
        cnt=j
   # print('x----',x)
    x = chr(ord(y) - 1)
    y = chr(ord(y) - 1)
  #  print('x---',x)
    print()

F
E F
D E F
C D E F
B C D E F
A B C D E F

19)

    ************
    *****  *****
    ****    ****
    ***      ***
    **        **
    *          *
    *          *
    **        **
    ***      ***
    ****    ****
    *****  *****
    ************

In [64]:
sz=6
n=sz
total = n*2
space = 0

for i in range(sz):
    for j in range(n):
        print('*',end='')
    for j in range(space):
        print(' ',end='')
    for j in range(n):
        print('*',end='')
    
    print()
    n-=1
    space+=2
sz=6    
n=1
space=total-2
for i in range(sz):
    for j in range(n):
        print('*',end='')
    for j in range(space):
        print(' ',end='')
    for j in range(n):
        print('*',end='')
    
    print()
    n+=1
    space-=2

************
*****  *****
****    ****
***      ***
**        **
*          *
*          *
**        **
***      ***
****    ****
*****  *****
************

20)

    *          *
    **        **
    ***      ***
    ****    ****
    *****  *****
    ************
    *****  *****
    ****    ****
    ***      ***
    **        **
    *          *

In [93]:
sz=6
n=1
total = sz*2
space=total-2

for i in range(sz):
    for j in range(n):
        print('*',end='')
    for j in range(space):
        print(' ',end='')
    for j in range(n):
        print('*',end='')
    n+=1
    space-=2
    print()
    
    
n=sz-1
space=2

for i in range(sz):
    for j in range(n):
        print('*',end='')
    for j in range(space):
        print(' ',end='')
    for j in range(n):
        print('*',end='')
    n-=1
    space+=2
    print()

*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *

21)

    ******
    *    *
    *    *
    *    *
    *    *
    ******

In [110]:
sz=6
total = sz*2

space=sz-1

for i in range(sz):
    if i == 0 or i == sz-1:
        for j in range(sz):
            print('*',end='')
    else:
        
        for j in range(sz):
            if j==0 or j==sz-1:
                print('*',end='')
            else:
                print(' ',end='')
    print()

******
*    *
*    *
*    *
*    *
******

22)

    6 6 6 6 6 6 6 6 6 6 6 
    6 5 5 5 5 5 5 5 5 5 6 
    6 5 4 4 4 4 4 4 4 5 6 
    6 5 4 3 3 3 3 3 4 5 6 
    6 5 4 3 2 2 2 3 4 5 6 
    6 5 4 3 2 1 2 3 4 5 6 
    6 5 4 3 2 2 2 3 4 5 6 
    6 5 4 3 3 3 3 3 4 5 6 
    6 5 4 4 4 4 4 4 4 5 6 
    6 5 5 5 5 5 5 5 5 5 6 
    6 6 6 6 6 6 6 6 6 6 6

In [141]:
sz=6
total = 2*sz-1
x=sz
num=1
space=total-2
flag=0
for i in range(total):
    if space < 0:
        flag=1
    if flag==0:
        if i==0:
            for j in range(total):
                print(sz,end=' ')
            print()
            
        else:
            for j in range(num):
                print(x,end=' ')
                x-=1
            for j in range(space):
                print(x,end=' ')
            for j in range(num):
                x+=1
                print(x,end=' ')

            num+=1
            space-=2
            print()
            
    if flag == 1:
            if i==total-1:
                for j in range(total):
                    print(sz,end=' ')
                print()

            else:
                for j in range(num):
                    print(x,end=' ')
                    x-=1
                for j in range(space):
                    print(x,end=' ')
                for j in range(num):
                    x+=1
                    print(x,end=' ')

                num-=1
                space+=2
                print()

6 6 6 6 6 6 6 6 6 6 6
6 5 5 5 5 5 5 5 5 5 6
6 5 4 4 4 4 4 4 4 5 6
6 5 4 3 3 3 3 3 4 5 6
6 5 4 3 2 2 2 3 4 5 6
6 5 4 3 2 1 2 3 4 5 6
6 5 4 3 2 1 1 2 3 4 5 6
6 5 4 3 2 1 2 3 4 5 6
6 5 4 3 2 2 2 3 4 5 6
6 5 4 3 3 3 3 3 4 5 6
6 6 6 6 6 6 6 6 6 6 6